	/*
	// Project:    Web Reference Database (refbase) <http://www.refbase.net>
	// Copyright:  Matthias Steffens <mailto:refbase@extracts.de> and the file's
	//             original author(s).
	//
	//             This code is distributed in the hope that it will be useful,
	//             but WITHOUT ANY WARRANTY. Please see the GNU General Public
	//             License for more details.
	//
	// File:       ./css/style_mobile.css
	// Repository: $HeadURL$
	// Author(s):  Matthias Steffens <mailto:refbase@extracts.de>
	//
	// Created:    14-Mar-08, 22:00
	// Modified:   $Date$
	//             $Author$
	//             $Revision$
	*/

	/* refbase CSS definitions - mobile view style */

body {
	background: #FFFFFF;
	color: #000000;
	margin: 0.5em;
}

pre, code {
	font-family: monaco,courier,monospace;
	font-size: 7pt;
}

.smaller {
	font-size: 0.7em;
}

.small {
	font-size: 0.7em;
}

.smallup {
	font-size: 0.85em;
	position: relative;
	top: -10px;
}

.moveup {
	position: relative;
	top: -8px;
}

.unapi {
	font-size: smaller;
}

.Z3988 {
	font-size: smaller;
}

.ok {
	color: #009900;
}

.warning {
	color: red;
}

.warning2 {
	color: red;
	font-family: "lucida grande",helvetica,arial,sans-serif;
	font-size: 0.75em;
}

.mainfieldsbg {
	background-color: #FFFFFF;
}

.otherfieldsbg {
	background-color: #FFFFFF;
}

.userfieldsbg {
	background-color: #FFFFFF;
}

th {
	font-family: "lucida grande",helvetica,arial,sans-serif;
	font-size: 0.9em;
}

td, div {
	font-family: "lucida grande",helvetica,arial,sans-serif;
	font-size: 0.8em;
}

p {
	font-family: "lucida grande",helvetica,arial,sans-serif;
	font-size: 0.8em;
}

div.items {
}

div.item, div.even, div.odd {
	
}

div.even {
	display: table-row;
}

div.odd {
	display: table-row;
}

a:link {
	color: #0033CC;
	text-decoration: none;
}

a:visited {
	color: #666666;
	text-decoration: none;
}

a:active {
	color: #990000;
	text-decoration: none;
}

a:hover {
	color: #3366FF;
	text-decoration: underline;
}

h1, h2, h3, h4 {
	font-family: "lucida grande",helvetica,arial,sans-serif;
}

h5, h6 {
	font-family: "lucida grande",helvetica,arial,sans-serif;
}

h2, h3 {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.35em;
}

h4, h5 {
	margin-top: 0em;
	margin-bottom: 0em;
}

h4 {
	font-size: 1.25em;
}

h5 {
	font-size: 1.1em;
}

div.pageheader img {
	position: absolute;
	top: 2em;
	right: 2em;
}

div.pageheader p, form p {
	margin: 0;
	padding: 0;
}

form {
	margin: 0;
	margin-top: 1em;
	font-size: 0.8em;
}

input {
	
}

.pageheader {
	
}

.pagefooter {
	
}

.results {
	
}

.resultsheader {
	font-size: 1em;
}

.resultsfooter {
	margin-left: 3.3em;
	margin-right: 3.3em;
}

div.resultsfooter {
	margin-top: 1.2em;
	margin-bottom: 0.9em;
}

.showhide {
	
}

#resultoptions {
	display: none;
}

.resultnav {
	display: block;
	margin-top: 1em;
	margin-bottom: 0.5em;
	text-align: center;
}

.mainnav {
	display: inline-block;
	margin-left: 0.5em;
	margin-right: 1em;
	position: absolute;
}

.pagenav {
	display: inline-block;
}

.viewnav {
	display: inline-block;
	margin-top: -0.25em;
	margin-right: 0.5em;
	position: absolute;
	right: 8px;
	font-size: 0.75em;
}

#columns {
	
}

#details {
	
}

#citations {
	font-size: 0.85em;
}

.citation {
	display: inline-block;
	min-height: 38px;
	margin: 0.5em;
	padding-right: 45px;
	font-size: 1em;
}

#error {
	
}

#queryhistory {
	margin-left: 2.6em;
	margin-right: 2.6em;
	margin-bottom: 1.75em;
}

#currentquery, #previousqueries {
	margin-top: 1.2em;
	font-size: 1em;
}

#queryhistory .even, #queryhistory .odd {
	margin-top: 0.25em;
	margin-left: 1.2em;
	margin-right: 1.2em;
	font-size: 1em;
}

.examples {
	font-size: 1em;
}

.links {
	display: inline-block;
	min-height: 38px;
	margin: 0.5em;
	position: absolute;
	right: 8px;
}

.sect {
	padding-top: 2px;
	font-size: 1em;
}

.even {
	background-color: #FFFFFF;
}

.odd {
	background-color: #F4F4F4;
}

#queryform {
	margin-left: 0.5em;
	text-align: center;
}

#queryform input[name=query] {
	width: 15em;
	margin-bottom: 0.9em;
}

#resultactions {
	display: none;
}

#searchopt {
	display: none;
}

#helptxt {
	display: none;
}

#helptxt .even {
	display: block;
	margin-left: -5px;
	margin-top: -3px;
	padding: 5px;
}

#helptxt .odd {
	display: block;
	margin-left: -5px;
	padding: 5px;
}

.toggleimg {
	
}

.toggletxt {
	display: inline;
	margin-left: 5px;
	font-size: 1em;
}

a:link .toggletxt {
	color: #000000;
}

a:visited .toggletxt {
	color: #000000;
}

a:hover .toggletxt {
	color: #3366FF;
}

.resultviews {
	display: inline;
	font-size: 0.85em;
}

.activeview {
	display: inline;
	font-size: 1em;
}

.leftview {
	display: inline;
	font-size: 1em;
}

.middleview {
	display: inline;
	font-size: 1em;
}

.rightview {
	display: inline;
	font-size: 1em;
}

.toggleprint {
	position: relative;
	top: 3px;
}

#accountinfo {
	font-size: 1.25em;
}

#accountdetails {
	font-size: 1em;
}

#accountopt {
	font-size: 1em;
}

#accountperm {
	font-size: 1em;
}

#accountdetails ul, #accountopt ul, #accountperm ul {
	position: relative;
	top: -0.8em;
	list-style-type: none;
	font-size: 0.85em;
	line-height: 1.3em;
}
