	/*
	// Project:    Web Reference Database (refbase) <http://www.refbase.net>
	// Copyright:  Matthias Steffens <mailto:refbase@extracts.de> and the file's
	//             original author(s).
	//
	//             This code is distributed in the hope that it will be useful,
	//             but WITHOUT ANY WARRANTY. Please see the GNU General Public
	//             License for more details.
	//
	// File:       ./css/style_print.css
	// Repository: $HeadURL$
	// Author(s):  Matthias Steffens <mailto:refbase@extracts.de>
	//
	// Created:    20-Oct-02, 15:08
	// Modified:   $Date$
	//             $Author$
	//             $Revision$
	*/

	/* refbase CSS definitions - print view style */

body {
	background: #FFFFFF;
	color: #000000;
}

pre, code {
	font-family: monaco,courier,monospace;
	font-size: 7pt;
}

.spacer {
	padding-top: 0.5em;
}

.spacer2 {
	padding-bottom: 0.3em;
}

.tiny {
	font-size: x-small;
}

.smaller {
	font-size: smaller;
}

.small {
	font-size: small;
}

.smallup {
	font-size: small;
	position: relative;
	top: -10px;
}

.smallsans {
	font-family: helvetica,arial,sans-serif;
	font-size: x-small;
}

.moveup {
	position: relative;
	top: -8px;
}

.header {
	font-family: helvetica,arial,sans-serif;
}

.footer {
	font-family: helvetica,arial,sans-serif;
	font-size: x-small;
	color: #999999;
}

.unapi {
	font-size: smaller;
}

.Z3988 {
	font-size: smaller;
}

.ok {
	color: #009900;
}

.warning {
	color: red;
}

.warning2 {
	color: red;
	font-family: helvetica,arial,sans-serif;
	font-size: small;
}

.mainfieldsbg {
	background-color: #FFFFFF;
}

.otherfieldsbg {
	background-color: #FFFFFF;
}

.userfieldsbg {
	background-color: #FFFFFF;
}

.outline {
	list-style-type: none;
	font-size: small;
	position: relative;
	left: -15px;
}

.category {
	font-family: helvetica,arial,sans-serif;
	font-weight: bold;
}

th {
	font-family: helvetica,arial,sans-serif;
	font-size: small;
}

td, div {
	font-family: "times new roman",garamond,times,serif;
	font-size: small;
}

p {
	font-family: "times new roman",garamond,times,serif;
	font-size: small;
}

a:link {
	color: #000000;
	text-decoration: underline;
}

a:visited {
	color: #000000;
	text-decoration: underline;
}

a:active {
	color: #000000;
	text-decoration: underline;
}

a:hover {
	color: #3366FF;
	text-decoration: underline;
}

h1, h2, h3, h4 {
	font-family: helvetica,arial,sans-serif;
}

h5, h6 {
	font-family: helvetica,arial,sans-serif;
}

h2, h3 {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.pageheader {
	
}

.pagefooter {
	
}

.results {
	
}

.resultsheader {
	
}

.resultsfooter {
	margin-left: 2.5em;
	margin-right: 2.5em;
}

div.resultsfooter {
	margin-top: 0.75em;
	margin-bottom: 0.9em;
}

#refgroups {
	
}

#refineresults {
	
}

#displayopt {
	
}

.resultnav {
	
}

.mainnav {
	
}

.pagenav {
	
}

.viewnav {
	font-size: small;
}

#columns {
	
}

#details {
	
}

#citations {
	
}

.citation {
	
}

#error {
	
}

.examples {
	
}

.links {
	
}

.sect {
	padding-top: 2px;
}

.even {
	background-color: #FFFFFF;
	padding: 5px;
}

.odd {
	background-color: #F4F4F4;
	padding: 5px;
}

#queryform {
	
}

.showhide {
	
}

#resultactions {
	display: none;
}

#searchopt {
	display: none;
}

#helptxt {
	display: none;
}

#helptxt .even {
	margin-left: -5px;
	margin-top: -3px;
}

#helptxt .odd {
	margin-left: -5px;
}

.toggleimg {
	
}

.toggletxt {
	display: inline;
	margin-left: 5px;
	font-size: small;
}

.resultviews {
	display: inline;
}

.activeview {
	display: inline;
}

.leftview {
	display: inline;
}

.middleview {
	display: inline;
}

.rightview {
	display: inline;
}

.toggleprint {
	position: relative;
	top: 3px;
}
